# Core functionality - changes here should be rare!
/src/app.py                   @YazmaniReyesH
/src/backend/database.py      @YazmaniReyesH
/src/backend/routers/auth.py  @YazmaniReyesH

# The frontend will need refactored soon to be more object oriented.
/src/static/   @YazmaniReyesH
